body{margin:0}
html,body{font-size:15px;line-height:1.5}

.bar{width:100%;overflow:hidden}
.bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
}
.right{float:right!important}
.light-grey{color:rgb(0, 0, 0)!important;background-color:#f1f1f1!important}

i {
    color:rgb(100, 100, 100);
}
i:hover {
    color:rgb(0, 0, 0);
}

a {
    color:rgb(42, 85, 179);
    text-decoration-line: none;
}
a:hover {
    text-decoration-line: underline;
}