<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jeune</title>
  
  <link rel="stylesheet" href="/css/home/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Monoton&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="bar light-grey">
  <a href="/login" class="bar-item right"><i class="fa-solid fa-user-circle"></i></a>
  <a href="#" class="bar-item right"><i class="fa fa-search"></i></a>
</div>

<div style="text-align:center">
  <br><br><span style="font-size: 55px; font-family: 'Monoton', cursive;">jeune</span><br>
  <span style="font-size: 15px; font-family: 'Beth Ellen', cursive;">for private use</span>
</div>

</body>
</html>