<!DOCTYPE html>
<html>
<head>
  <title>jeune</title>
  <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Monoton&display=swap" rel="stylesheet">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/main.js"></script>
  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <style>
    body{margin:0}
    html,body{font-size:15px;line-height:1.5}

    .bar{width:100%;overflow:hidden}
    .bar-item {
      padding:8px 16px;
      float:left;
      width:auto;
      border:none;
      display:block;
      outline:0;
    }
    .right{float:right!important}
    .light-grey{color:rgb(0, 0, 0)!important;background-color:#f1f1f1!important}

    i {
      color:rgb(100, 100, 100)
    }
    i:hover {
      color:rgb(0,0,0);
    }
  </style>
</head>

<body>
<div class="bar light-grey">
  <a href="login" class="bar-item right"><i class="fa-solid fa-user-circle"></i></a>
  <a href="#" class="bar-item right"><i class="fa fa-search"></i></a>
</div>

<div style="text-align:center">
  <br><br><span style="font-size: 80px; font-family: 'Monoton', cursive;">jeune</span><br>
  <span style="font-size: 20px; font-family: 'Beth Ellen', cursive;">for private use</span>
</div>

</body>
</html>